/*style for customer app*/
/*牙色 238, 225, 173*/

/*竹青107, 152, 98*/
/*秋香219, 187, 0*/

/*靛青0, 123, 180*/

/*茶白 240, 250, 241*/

/*赤212, 0, 10*/
/*妃色 255, 64, 10*/

/*炎255, 0, 0*/
/*艾绿138, 231, 199*/

/*月白207, 237, 242*/

/*官175, 128, 114*/
/*黛76, 61, 104*/
/*胭脂 170, 7, 39*/
/*鸦青 62, 76, 82*/
/*黛兰62, 79, 103*/
body {
  margin: 0;
  padding: 0; 
  font-family: Serif;
  font-size: 18px;
  background-color: rgb(248, 249, 249);
}

.body-background {
  background-color: rgb(255, 255, 255);
}

.common-bgc{
  background-color: rgb(255, 246, 236);
}

a {
  font-weight: bolder;
}

a.link:link {
  color: rgb(0, 123, 180); 
}

a.link:visited {
  color: rgb(0, 123, 180);
}

a.link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 123, 180);
}

a.link:active {
  color: rgb(0, 123, 180);
}

ul {
  list-style: none;
}

.no-margin-ul {
  margin: 0;
}

.no-padding-ul {
  padding-left: 0;
}

textarea {
  height: 195px; 
  width: 450px;
  font-size: 18px;
}

input[type='radio'], input[type='checkbox']{
  margin: 0 5px 0 5px;
}

input[type='text'], input[type='password'],
input[type='email'], input[type='tel'] {
  font-size: 18px;
}

button, input[type='submit']{
  line-height: 2;
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(115, 115, 115);
  background-color: rgb(255, 255, 255);
  padding: 2px 30px 2px 30px;
  border-radius: 5px;
}

a, button, input[type='submit'] {
  cursor: pointer
}

span {
  margin: 0 5px 0 5px;
}

.bolder {
  font-weight: bolder;
}

#flash-message {
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 0;
  z-index: 5;
  text-align: left;
  background-color: rgb(170, 7, 39);
}

#loading {
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 5;
  display: none;
}

#main {
  margin-top: 50px;
  padding: 10px;
}

.team-main {
  margin-left: 250px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-inline, .item-show-header ul li{
  display: inline-block;
}

.display-as-block {
  display: block;
}

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.float-left{
  float: left;
  margin: 0 10px 10px 0;
}

.circle-img {
  clip-path: circle(60px at center);
  -webkit-clip-path: circle(60px at center);
  -moz-clip-path: circle(60px at center);
  cursor: pointer;
}

.border-img {
  border:15px solid transparent;
  /*padding:10px 20px;*/
  -moz-border-image:url(/client/border.png) 30 30 round;
  -webkit-border-image:url(/client/border.png) 30 30 round;
  -o-border-image:url(/client/border.png) 30 30 round;
  border-image:url(/client/border.png) 30 30 round;
}

.delicate-color {
  color: rgb(115, 115, 115);
}

.mask
{
  position: fixed;    
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgb(248, 249, 249);
  opacity: 0.95;
}

.close{
   position: fixed;
   z-index: 4;
   top: 0;
   right: 15px;   
 }

.arrow div{
  display: inline-block;
  height: 35px;
  width: 35px;
  border-right: 5px solid; 
  border-bottom: 5px solid;
  transform: rotate(-45deg)
  -ms-transform:rotate(-45deg); 	/* IE 9 */
  -moz-transform:rotate(-45eg); 	/* Firefox */
  -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
  -o-transform:rotate(-45deg);
 }

.popup {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 125px;
  width: 795px;
  height: 100%;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
}

/*MenuView */
#customer-menu {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  /*background-color: rgb(190, 190, 190);*/
  background-color: rgb(83, 86, 82);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

#customer-menu-discover {
  margin-left: 25px;
}

#customer-menu-search input{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 5px;
  width: 275px;
  height: 30px;
  padding: 0 5px 0 5px;
  font-size: 18px;
}

#customer-menu-logo, .captcha-img{
  vertical-align: middle;
}

#customer-menu-logo {
  margin-left: 220px;
}

#customer-menu > a {
  margin-right: 25px;
  text-decoration: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

/*MeMenuView*/
.customer-memenu-menu {
  position: absolute; 
  top: 55px;
  right: 315px;
  padding: 5px;
  width: 215px;
  z-index: 2;
  /*background-color: rgb(190, 190, 190);*/
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

.customer-memenu-profile-avatar-circle {
  width: 40px;
  height: 40px;
  clip-path: circle(20px at center);
  -webkit-clip-path: circle(20px at center);
  -moz-clip-path: circle(20px at center);
}

.customer-memenu-menu > a {
  display: block;
  margin: 15px 0 0 0;
  text-decoration: none;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

/*ItemShowView*/

/*ItemCommentsView*/
#item-comments {
  width: 765px;
  min-height: 165px;
  margin-top: 105px;
  padding: 5px 0 5px 0;
  background-color: rgb(255, 255, 255);
}

#item-comments h4 {
  margin-left: 15px;
}

.item-comment{
  margin: 15px 15px 15px 0;
  border-bottom: 1px dashed #bbb;
}

.item-comment-profile p {
  width: 90%;
  margin-top: 0;
  padding: 5px 0 5px 5px;
}

.item-comments-create {
  margin: 25px 0 25px 35px;
}

.item-comment-menu {
  margin-bottom: 0px;
}

/*ReplyView*/

/*FollowingMineView*/
.following-mine {
  display: block;
  text-align: center;
}

/*MyFollowingsView*/
#my-followings {
  position: fixed;
  top: 50px;
  right: 0px;
  width: 160px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  overflow: auto;
}

.my-followings {
  padding-left: 0px;
}

/*ItemArtistMiniView*/

/*ItemArtistView*/
.item-artist {
  position: absolute; 
  top: 205px;
  left: 15px;
  padding: 10px;
  width: 75%;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

/*ShareView*/
.share {
  position: absolute; 
  top: 205px;
  left: 15px;
  padding: 10px;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

/*NavItemImgsView*/
.nav-item-imgs, .item-bids-item-img {
  background-color: rgb(248, 249, 249);
}

.nav-item-imgs ul {
  display:inline-block;
  margin: 0;
  padding-left: 0;
  width: 90%;
}

.nav-item-imgs-des {
  width: 30%;
}
/*ProfileView*/
.profile-popup {
  position: fixed;
  z-index: 2;
  top: 50px;
  right: 125px;
  width: 395px;
  padding: 15px 20px 15px 25px;
  height: 70%;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 246, 236);
}
/*profile-general-edit*/
#profile-general-edit textarea {
  width: 385px;
}

/*FollowingItemsView*/
.following-items-new-customize{
  position: absolute; 
  right: 185px;
  top: 65px;
  z-index: 1;
  width: 85px;
  height: 85px;
  border: 2px dashed #bbb;
  border-radius: 5px;
  background: rgba(0,0,0,0.03);
  text-align: center;
}

/*DiscoverView*/
#myfollowings {
  position: fixed;
  right: 15px;
  top: 65px;
  z-index: 1;
}

/*ItemBidView*/
.item-bid {
  margin: 0 0 15px 0;
}
.item-bid-price {
  margin: 0 0 0 35px;
}
/*ItemBidsView*/

#item-bids {
  position: absolute;
  z-index: 5;
  top: 205px;
  left: 15px;
  width: 605px;
  height: 80%;
  padding: 10px;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
}

.item-bids-timer {
  margin-bottom: 0; 
}

.item-bids-price-form {
  margin: 25px 0 0 0;
}

.item-bids-price {
  width: 275px;
  height: 25px;
  font-size: 18px;
}

.item-bids-header, .item-comments-header{
  padding: 0 0 5px 5px;
  border-bottom: 1px dashed #bbb;
}

.item-bids-div {
  margin: 0 0 105px 0;
}
/*SigninView*/
.signin-popup, .signup-popup, .reset-password-popup {
  position: fixed;
  z-index: 4;
  top: 65px;
  left: 343px;
  width: 515px;
  height: 65%;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  background-color: rgb(255, 255, 255);
}

.big-input
{
  height: 30px;
  width: 275px;
  border: 1px solid #bbb;
}

.signin-inputs input, .signup-inputs input,
.reset-password-inputs input{
  margin: 15px 0 0 115px; 
}
/*ResetPasswordView*/

/*SignupView*/
.signup-verification_code, .reset-password-verification_code {
  width: 185px;
}
/*style for team app*/
/*TeamMenuView */
#team-menu {
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 15px 0 30px 30px;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}
/*UsersView */
.dashed-bottom{
  padding-top: 15px;
  border-bottom: 1px dashed #bbb;
}

/*AssignmentView */
#assignment button{
  margin: 15px 0 0 35px;
}

/*RolesView */

/*ArtistView */
.artist details{
  width: 705px;
}
/*NewItemView*/
.common-margin{
  margin: 15px 20px 15px 25px;
}

/*ArtistItemsView*/
/*ArtistItemView*/
.artist-item img {
  width: 85px;
}
/*ArtistItemShowView*/

/*ArtistItemsItemImgView*/
.artist-items-itemimg {
  margin-bottom: 15px;
  background-color: rgb(248, 249, 249);
}

/*ArtistFollowedsView*/

/*CaptchaView*/
.captcha input{
  width: 185px;
  height: 30px;
  border: 1px solid #bbb;
}

.captcha-img{
  height: 35px;
}
