<a id='customer-menu-discover' title='发现'>发现</a>
<form id='customer-menu-search' class='show-inline' onsubmit='return false'>
    <input type='search' placeholder='搜索'/>
</form>
<img id='customer-menu-logo' width='50px' height='50px' src='/client/logo.jpeg'/>
<a id='customer-menu-name' title=''>凤凰拍卖</a>
<a id='customer-menu-orders' title='订单'>订单</a>
