<a class='customer-memenu-profile-avatar'>
    <img class='customer-memenu-profile-avatar-circle va-middle' src='<%= thumb_file %>'/>
</a>
<div class='customer-memenu-menu hide'>
    <a id='customer-memenu-profile' title='个人信息'>个人信息</a>
    <a id='customer-memenu-signout' title='退出'>退出</a>
</div>
