<ul>
    <li>
        <a id='team-menu-users' class='link' title='用户' href='#!'>用户</a>
    </li>
    <li>
        <a id='team-menu-roles' class='link' title='角色' href='#!'>角色</a>
    </li>
    <li>
        <a id='team-menu-artists' class='link' title='艺术家' href='#!'>艺术家</a>
    </li>
</ul>
