<img src='<%= thumb_file %>' class='va-top'/>
<details class='show-inline'>
    <summary><%= name %></summary>
    <%= intro %>
    <a class='artist-edit link' href='#!'>修改</a>
</details>
<ul class='show-inline'>
    <li>
        <a class='artist-items link' title='作品' href='#!'>作品</a>
    </li>
</ul>
