<ul class='artists'>
</ul>
<form enctype='multipart/form-data'>
    <h3>添加艺术家</h3>
    <p>
        <input name='img' type='file'/>
    </p>
    <p>
        <input name='name' type='text' placeholder='姓名'/>
    </p>
    <p>
        <textarea name='intro' placeholder='简介'></textarea>
    </p>
    <button class='artists-sub' type='button'>提交</button>
</form>
