<div class='mask'></div>
<a class='artist-edit-close close link' href='#!'>关闭</a>
<div class='popup'>
    <form enctype='multipart/form-data'>
        <h3>修改艺术家</h3>
        <p>
            <input name='img' type='file'/>
        </p>
        <p>
            <input name='name' type='text' placeholder='姓名' value='<%= name %>'/>
        </p>
        <p>
            <textarea name='intro' placeholder='简介'><%= intro %></textarea>
        </p>
        <button class='artist-edit-btn' type='button'>更新</button>
    </form>
</div>
