<div class='ta-center'>
    <h2 class="item-bids-timer ta-center"></h2>
    <small class='delicate-color'><span>类别:</span><%= kind %></small>
    <small class='delicate-color'>
        <span>尺寸:</span><%= length %>cm,<%= width %>cm
    </small>
    <small class='delicate-color'><span>创作时间:</span><%= produced_at %></small>
    <br/>
    <small class='delicate-color'><span>用途:</span><%= usage %></small>
    <br/>
    <small class='delicate-color'><span>开拍时间:</span><%= starting_bid %></small>
    <small class='delicate-color'><span>结束时间:</span><%= closing_bid %></small>
</div>
<div class='ta-center item-bids-price-form'>
    <input class='item-bids-price' name='item-bids-price' type='number' min='<%=
starting_price %>' step='<%= raising_price %>' value=''/><span>元</span>
    </br>
    <small class='delicate-color'><span>起价:</span><%= starting_price %>元</small>
    <small class='delicate-color'><span>加价:</span><%= raising_price %>元</small>
    <small class='delicate-color'>
        <a class='item-bids-deposit link' href='#!'><span>定金:</span><%= deposit %>元</a>
    </small>
    </br>
    </br>
    <button type='button' class='item-bids-bid'>出价</button>
</div>
<div class='item-bids-div'>
    <h4 class='item-bids-header'>竞拍记录</h4>
    <ul class='item-bids'>
    </ul>
</div>
