<img src='<%= profile.thumb_file %>' class='va-top'/>
<ul class='show-inline no-padding-ul'>
    <li><%= profile.name %><span>于</span><%= created_at%><span>出价</span></li>
    <li class='show-inline item-bid-price'>
        <mark class='bolder'><%= price %></mark><span>元</span>
    </li>
</ul>
<p class='show-inline item-bid-status-and'>
    <span class='item-bid-status'><%= status %></span>
</p>
