<img class='circle-img' src='<%= thumb_file %>'/>
<ul class='show-inline'>
    <li>
        <span><%= name %></span>
        <span class='artist-followed-gender'></span>
        <span class='artist-followed-job'></span>
    </li>
    <li class='delicate-color'><%= location %></li>
    <li class='delicate-color'><span>注册时间:</span><%= created_at %></li>
</ul>
<p>
    <%= about %>
</p>

