<ul class='artist-items-itemimgs'>
</ul>
<h3 class='common-margin'>添加更多商品的照片及文字</h3>
<form enctype='multipart/form-data' class='common-margin'>
    <p>
        <label>照片</label>
        <input name='img' type='file'/>
    </p>
    <p>
        <label>描述</label><br/>
        <textarea name='description' placeholder='描述...'></textarea>
    </p>
    <p>
        <button type='button' class='artist-items-itemimgs-sub'>提交</button>
    </p>
</form>
