<ul>
    <li class='show-inline'><%= id %></li>
    <li class='show-inline'><%= name %></li>
    <li class='show-inline'><%= created_at %></li>
    <li class='show-inline'><%= updated_at %></li>
    <li class='show-inline'><%= deleted_at %></li>
    <li class='show-inline'><a title='删除' href='#!' class='link'>删除</a></li>
</ul>
