<div class='mask'>
</div>
<div class='reset-password-popup'>
    <h2 class='reset-password-header ta-center'>重置密码</h2>
    <div class='reset-password-inputs'>
        <div>
            <input class='big-input' name='phone' type='tel' placeholder='手机号码'>
        </div>
        <div>
            <input class='reset-password-verification_code big-input' name='verification_code' type='text' placeholder='验证码'>
            <button id='reset-password-send-verif' class='reset-password-send-verif' type='button'>
                获取验证码
            </button>
        </div>
        <div>
            <input class='big-input' name='password' type='password' placeholder='新密码'>
        </div>
        <div>
            <input class='big-input' name='password_confirmation' 
             type='password' placeholder='确认密码'>
        </div>
        <div class='reset-password-captcha'></div>
    </div>
    <div class='ta-center'>
        <input id='reset-password-submit' class='reset-password-submit' type='submit' value='提交'/>
    </div>
</div>
