<div class='mask'></div>
<a class='showuser-close close link' href='#!'>关闭</a>
<div class='showuser-detail popup'>
    <h3>用户详情</h3>
    <ol>
        <li>用户ID,<%= id %></li>
        <li>邮箱,<%= email %></li>
        <li>手机号码,<%= phone %></li>
        <li>登录次数,<%= sign_in_count %></li>
        <li>本次登录时间,<%= current_sign_in_at %></li>
        <li>上次登录时间,<%= last_sign_in_at %></li>
        <li>本次登录ip,<%= current_sign_in_ip %></li>
        <li>上次登录ip,<%= last_sign_in_ip %></li>
        <li>创建时间,<%= created_at %></li>
        <li>更新时间,<%= updated_at %></li>
        <li>删除时间,<%= deleted_at %></li>
    </ol>
</div>
