<div class='mask'>
</div>
<div class='signup-popup'>
    <h2 class='signup-header ta-center'>注册</h2>
    <div class='signup-inputs'>
        <div>
            <input class='big-input' name='phone' placeholder='手机号码' type='tel'/>
        </div>
        <div>
            <input class='signup-verification_code big-input' name='verification_code' placeholder='验证码' type='text'/>
            <button id='signup-send-verif' class='signup-send-verif' type='button'>
                获取验证码
            </button>
        </div>
        <div>
            <input class='big-input' name='email' placeholder='邮箱' type='email'/>
        </div>
        <div>
            <input class='big-input' name='password' placeholder='密码' type='password'/>
        </div>
        <div>
            <input class='big-input' name='password_confirmation' placeholder='确认密码' type='password'/>
        </div>
        <div class='signup-captcha'></div>
    </div>
    <div class='signup-accept ta-center'>
        <input name='accept' type='checkbox' value='1'/>
        <a class='link' href='#!'>我已阅读并接受协议条款.</a>
    </div>
    <br/>
    <div class='sign-up-in ta-center'>
        <input id='signup-submit' class='signup-submit' type='submit' value='提交'/>
    </div>
</div>
