<div class='mask'>
</div>
<div class='signin-popup'>
    <h2 class='signin-header ta-center'>登录</h2>
    <div class='signin-inputs'>
        <div>
            <input class='big-input' placeholder='手机号码' name='phone' type='tel'/>
        </div>
        <div>
            <input class='big-input' placeholder='密码' name='password' type='password'/>
        </div>
        <div class='signin-captcha'></div>
    </div>
    <div class='signin-up-in ta-center'>
        <input class='signin-submit' type='submit' value='提交'/>
    </div>
    <br/>
    <div class='ta-center'>
        <a class='signin-signup link' href='#!'>注册</a>    
        <a class='signin-forget-password link' href='#!'>忘记密码?</a>
    </div>
</div>
