<ul>
    <li class='show-inline'><%= email %></li>
    <li class='show-inline'><%= phone%></li>
    <li class='show-inline'><%= created_at %></li>
    <li class='show-inline'><%= updated_at %></li>
    <li class='show-inline'><%= deleted_at %></li>
    <li class='show-inline'>
        <a title='查看用户' class='user-show link' href='#!'>查看</a>
    </li>
    <li class='show-inline'><a title='删除用户' class='link' href='#!'>删除</a></li>
    <li class='show-inline'>
        <a title='为用户赋予角色' class='user-assign-role link' href='#!'>
            添加角色
        </a>
    </li>
</ul>
