<div class='item-comment-profile'>
    <img src='<%= profile.thumb_file %>' class='item-comment-img va-top'/>
    <p class='common-bgc show-inline'>
        <span><%= profile.name %></span>
        <span class='delicate-color'><%= created_at %></span>
    </p>
</div>
<p class='item-comment-body'><%= body %></p>
<div class='item-comment-menu ta-right'>
    <a class='link item-comment-reply' href='#!'>回复</a>
</div>
