<input type='hidden' class='comment-id' val='<%= id %>'/>
<blockquote>
    <span><%= profile.name %>:</span>
    <q><%= body %></q>
    <span><a class='reply-close link' href='#!'>取消</a></span>
</blockquote>
