<ul>
    <li class='show-inline'>
        <label>管理员</label>
        <input type='radio' name='role_name' value='admin'/>
    </li>
    <li class='show-inline'>
        <label>客服</label>
        <input type='radio' name='role_name' value='customer_service'/>
    </li>
    <li class='show-inline'>
        <label>财务主管</label>
        <input type='radio' name='role_name' value='financial_officer'/>
    </li>
    <li class='show-inline'>
        <label>销售</label>
        <input type='radio' name='role_name' value='seller'/>
    </li>
</ul>
<div>
   <button type='button' id='assignment-submit'>提交</button>
   <a class='assignment-cancel link' href='#!'>取消</a>
</div>
