<li>
    <label>名号</label>
    <input name='name' type='text' value='<%= name %>'/>
</li>
<li>
    <label>性别</label>
    <label>男</label>
    <input type='radio' name='gender' value='1'/>
    <label>女</label>
    <input type='radio' name='gender' value='0'/>
</li>
<li>
    <label>地址</label>
    <input name='location' type='text' value='<%= location %>'/>
</li>
<li>
    <label>工作</label>
    <select name='job'>
        <option value='1'>教师</option>
        <option value='2'>工程师</option>
        <option value='3'>销售</option>
    </select>
</li>
<li>
    <label>关于我</label><br/>
    <textarea name='about' textarea><%= about %></textarea>
</li>
<li>
    <button class='profile-general-edit-sub' type='button'>提交</button>
    <a class='profile-general-edit-cancel link' href='#!'>取消</a>
</li>
