<div class='profile-popup'>
    <a class='profile-close link' href='#!'>关闭</a>
    <ul class='profile-file no-padding-ul'>
        <li><img src='<%= detail_file %>'/></li>
        <li>
            <form enctype='multipart/form-data'>
                <input class='profile-file-input' name='profile_upload' type='file' />
            </form>
        </li>
    </ul>
    <ul class='profile-general no-padding-ul delicate-color'>
        <li><span>名号:</span> <span><%= name %></span></li>
        <li><span>性别:</span> <span class='profile-general-gender'></span></li>
        <li><span>地址:</span> <span><%= location %></span></li>
        <li><span>工作:</span> <span class='profile-general-job'></span></li>
        <li>
            <span>关于我:</span>
            <p><%= about %></p>
        </li>
        <li class='profile-general-edit-li'>
            <a class='profile-general-edit link' href='#!'>修改</a>
        </li>
    </ul>
</div>
