<div class='mask'></div>
<div class='artist-item-show-popup popup'>
    <a class='artist-item-show-close link' href='#!'>关闭</a>
    <h3 class='ta-center'><%= name %></h3>
    <img src='<%= detail_img %>' class='va-top'/>
    <ul class='show-inline'>
        <li><span>类别:</span><%= kind %></li>
        <li><span>描述:</span><%= description %></li>
        <li><span>长度:</span><%= length %>cm</li>
        <li><span>宽度:</span><%= width %>cm</li>
        <li><span>用途:</span><%= usage %></li>
        <li><span>创作时间:</span><%= produced_at %></li>
        <li><span>起价:</span><%= starting_price %>元</li>
        <li><span>加价:</span><%= raising_price %>元</li>
        <li><span>定金:</span><%= deposit %>元</li>
        <li><span>开拍时间:</span><%= starting_bid %></li>
        <li><span>结束时间:</span><%= closing_bid %></li>
    </ul>
</div>
