<ul class='nav-item-imgs-list'>
    <li class='show' id='item-img-1'>
        <span><img src='<%= detail_img %>' class='va-middle'/></span>
        <p class='nav-item-imgs-des show-inline'><%= description %></p>
    </li>
</ul>
<a href='#!' class='arrow'><div></div></a>
<!--<img src='/client/arrow.jpeg' class='arrow'/>-->
