<h3>添加商品</h3>
<form enctype='multipart/form-data' class='common-margin'>
    <p>
        <label>类别</label>
        <select name='kind'>
            <option value=1>篆书</option>
            <option value=2>隶书</option>
            <option value=3>行书</option>
            <option value=4>楷书</option>
            <option value=5>草书</option>
            <option value=6>花鸟画</option>
            <option value=7>山水画</option>
            <option value=8>人物画</option>
        </select>
    </p>
    <p>
        <label>名称</label>
        <input name='name' type='text' placeholder='厚德载物'/>
    </p>
    <p>
        <label>描述</label><br/>
        <textarea name='description' placeholder='君子的品德应如大地般厚实可以承载万物'></textarea>
    </p>
    <p>
        <label>长度</label>
        <input name='length' type='number' min='0' step='5'/><span>cm</span>
        <label>宽度</label>
        <input name='width' type='number' min='0' step='5'/><span>cm</span>
    </p>
    <p>
        <label>用途</label>
        <input name='usage' type='text' placeholder='客厅，办公室，送人...'/>
    </p>
    <p>
        <label>创作时间</label>
        <input name='produced_at' type='text' placeholder='2018/05/01'/>
    </p>
    <p>
        <label>起价</label>
        <input name='starting_price' type='number' min='0' step='5' value='100'>
        <span>元</span>
    </p>
    <p>
        <label>加价</label>
        <input name='raising_price' type='number' min='0' step='10' value='10'/>
        <span>元</span>
    </p>
    <p>
        <label>定金</label>
        <input name='deposit' type='number' min='0' step='10' value='10'/>
        <span>元</span>
    </p>
    <p>
        <label>开拍时间</label>
        <input name='starting_bid' type='text' placeholder='2018/05/01/19:00'/>
    </p>
    <p>
        <label>结束时间</label>
        <input name='closing_bid' type='text' placeholder='2018/05/01/23:30'/>
    </p>
    <p>
        <label>照片</label>
        <input name='img' type='file'/>
    </p>
    <p>
        <button type='button' class='new-item-sub'>提交</button>
    </p>
</form>
