<select name='kind'>
    <option value='1'>篆书</option>
    <option value='2'>隶书</option>
    <option value='3'>行书</option>
    <option value='4'>楷书</option>
    <option value='5'>草书</option>
    <option value='6'>花鸟画</option>
    <option value='7'>山水画</option>
    <option value='8'>人物画</option>
</select>
